<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bolito2.flarifyandroid">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ano"
        android:roundIcon="@mipmap/ano_round"
        android:label="Flarify"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/SinBarra"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Configuracion"
            android:theme="@style/Barra"
            android:label="Configuración"></activity>
    </application>

</manifest>